body{
    font-family: serif;
    background: url(img/fondo.jpg);
    
}

h1{
    text-align: center;
    color:whitesmoke;
}

table, td, th{
width: 15%;
height: 30px;
text-align: center;
border: 3px solid rgb(80, 78, 78);
vertical-align: center;
border-collapse: collapse;
box-shadow: 2px 2px 134px -16px white
}

td { 
font-family: Verdana; 
font-weight: bold; 
color:#ffffff }
  
