body{
    background: url(img/fondo.jpg);
    font-family: Verdana;
}

#ingreso{
    width: 80%;
    left: 10%;
    position: center;
    margin-top: 50px;
    box-shadow: 2px 2px 134px -16px white
}

button{
    border-radius: 4px;
    font-size: 24px;
    width: 250px;
    height: 100px;
}
