body{
    font-family: serif;
    background: url(img/fondo.jpg);
}

h1{
    text-align: center;
    color:whitesmoke
}

.primera_fila{
    background-color:rgb(63, 63, 99);
    text-align: center;
    color:white;
    height: 30px;
    margin: 1%;
    font-weight: bold;
}

.content{
    background-color: rgb(162, 170, 175);
    text-align: center;
    color: rgb(14, 13, 13);
    height: 20px;
}

.content:hover{
    height: 10px;
    background-color: rgb(56, 54, 52);
    font-weight: bold;
    color:white;
}

#miTabla{
    width: 80%;
    left: 10%;
    position: absolute;
    margin-top: 50px;
    box-shadow: 2px 2px 134px -16px white
}

#tabla_buton{
    width: 80%;
    left: 10%;
    position: absolute;
    margin-top: 50px;
    box-shadow: 2px 2px 134px -16px white
}
 

.edit_button{
    background-color: transparent;
    color: white;
}

  
