<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='actualizar_clientes.css')}}">
    <title>| JOJMA - Agregar Clientes |</title>
</head>
<body>
    <h1>Actualizar Clientes</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="/editar_cliente" method="POST">
      <table align="CENTER">
      <input type="hidden" name="id" value="{{cliente['id']}}"/>
      <tr>
        <td><label>Apellido</label></td><td><input type="text" name="apellido" value="{{cliente['apellido']}}"/></td>
      </tr>
      <tr>
        <td><label>Nombre </label></td><td><input type="text"  name="nombre" value="{{cliente['nombre']}}"/></td>
      </tr>
      <tr>
        <td><label>Documento </label></td><td><input type="text"  name="documento" value="{{cliente['documento']}}"/></td>
      </tr>
      <tr>
        <td><label>Direccion </label></td><td><input type="text"  name="direccion" value="{{cliente['direccion']}}"/></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Actualizar Cliente"/></td>
        
      </tr>  
      </table>  
    </form>
</body>
</html>