<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='form_agregar_clientes.css')}}">
    <title>| JOJMA - Agregar Clientes |</title>
</head>
<body>
    <h1>Agregar Clientes</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="/agregar_clientes" method="POST">
      <table align="CENTER">
      <tr>
        <td><label>Apellido</label></td><td><input type="text" name="apellido" /></td>
      </tr>
      <tr>
        <td><label>Nombre </label></td><td><input type="text"  name="nombre"/></td>
      </tr>
      <tr>
        <td><label>Documento </label></td><td><input type="text"  name="documento"/></td>
      </tr>
      <tr>
        <td><label>Direccion </label></td><td><input type="text"  name="direccion"/></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Agregar Cliente"/></td>
        
      </tr>  
      </table>  
    </form>
</body>
</html>