<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <title>| JOJMA - Bienvenidos |</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <form action="/clientes">
    <table align="center">
    <tr>
        <td><button class="edit_button">Consultar Clientes</button></td>
    </tr>    
    </table>    
    </form>
</body>
