<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='mostrar_clientes.css')}}">
    <title>| JOJMA - Clientes |</title>
</head>
<body>
    <h1>Listado de Clientes</h1>
    
    <div class="divTabla">
        <table id="miTabla">
            <tr class="primera_fila"><td>ID</td><td>Apellido</td><td>Nombre</td><td>Documento</td><td>Direccion</td><td><form  method="get" action="/form_agregar_clientes"><button>Agregar cliente</button></form></td></tr>
            {% for registro in cliente %}
                <tr class="content">
                    <td>{{registro["id"]}} </td>
                    <td>{{registro["apellido"]}}</td>
                    <td>{{registro["nombre"]}}</td>
                    <td>{{registro["documento"]}}</td>
                    <td>{{registro["direccion"]}}</td>
                    <form method="post" action="/form_editar_cliente">
                    <td><button class="edit_button" name="id_cliente" value="{{registro['id']}}">Editar</button></td>
                    </form>
                    <form method="post" action="/eliminar_cliente">
                    <td><button class="edit_button" name="id_cliente" value="{{registro['id']}}">Eliminar</button></td>
                    </form></tr>
            {% endfor %}|
        </table>
    </div>
</body>
</html>
